.main-about {
  display: grid;
  grid-template-rows: 13% 62% 1fr;
  grid-template-columns: 3% 20% 60%;
  align-items: center;
  grid-row-gap: 1%;
  grid-column-gap: 4%;
  margin-bottom: 3%;
  background: url(/assets/img/about/clouds.svg) no-repeat;
  width: 100vw;
  background-size: cover;
}

.main-about__image {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: start;
  min-width: 105%;
  min-height: 62%;
}

.main-about__title {
  grid-column: span 4;
  grid-row: 1;
  line-height: 2em;
  font-family: "SanghaKali", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  font-style: italic;
  color: #bfe6ef;

  justify-self: center;
  align-self: baseline;
}

.main-about__text {
  grid-column: 3;
  grid-row: 2;
  font-style: italic;
  color: rgb(191, 230, 239);
  text-align: justify;
  text-indent: 5%;
  align-self: baseline;
}

.main-about__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: rgb(215, 237, 250, 0.5);
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 2px 1px 5px #999494;
}

@media screen and (max-width: 779px) {
  .main-about__title {
    margin: initial;
    font-size: xx-large;
  }
  .main-about__image {
    display: none;
  }

  .main-about__text {
    color: #04082e;
    display: grid;
    width: 100vw;
    padding: 20px;
    text-align: center;
    grid-column: span 3;
  }
}
